<template name="pushnotifications">
  <ol class="breadcrumb">
    <li><a href="{{pathFor route='dashboard'}}">Dashboard</a></li>
    <li><a href="{{pathFor route='pushnotifications'}}">Push Notifications</a></li>
  </ol>
  <div class="wrapper wrapper-content animated fadeInRight">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="ibox float-e-margins">
                              <div class="ibox-title">
                                  <h5>Notifications</h5>
                              </div>
                              <div class="ibox-content">
                                  <div class="row">
                                    <div class="well" height="300" width="400">
                                      <textarea class="form-control">sometext</textarea>
                                    </div>
                                  </div>
                                   <button class="btn btn-primary btn-rounded btn-block" id="push"><i class="fa fa-info-circle"></i> Push Data</button>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>

</template>
